.archiveContainer {
    width: 100vw; 
    height: 100vh; 
    position: relative;
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headline {
    padding: 2vw;
    top: 6vw !important;
    position: sticky;
    font-size: clamp(15px, 1.5vw, 25px);
    z-index: 200;
}
