.archiveContainer {
  position: relative;
  box-sizing: border-box;
  padding: 2vw;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin-bottom: 50vh;
  overflow: hidden;
  .archive {
    width: 70vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    gap: 1vw;
    .archiveItem {
      aspect-ratio: 1;
      position: relative;
      .imageContainer {
        width: 100%;
        height: 100%;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .overlay {
        background-color: blue;
        opacity: 0.1;
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        pointer-events: none;
      }
      .overlay:hover {
        opacity: 0.5;
      }
    }
  }
  .archiveNav {
    width: 30vw;
    align-items: start;
    display: inline-block;
    margin-bottom: 2vw;
    .navItem {
      background-color: lightgray;
      display: inline;
      margin: 1vw;
      box-sizing: border-box;
      padding: 1vw;
      font-size: 2vw;
      white-space: nowrap;
      display: inline-block;
      height: auto !important;
      font-size: clamp(15px, 1.5vw, 25px);
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.headline {
  padding: 2vw;
  top: 5vw !important;
  position: sticky;
  font-size: clamp(15px, 1.5vw, 25px);
  z-index: 200;
}

@media (max-width: 767px) {
  .archiveContainer {
    display: inline-block;
    .archive {
      width: 96vw;
      grid-template-columns: 1fr;
    }
    .archiveItem {
      width: 96vw !important;
      height: 96vw !important;
      background-color: aqua;
    }
    .archiveNav {
      width: 50vw;
    }
  }

  .headline {
    top: 7vw !important;
  }
}
