
.processContainer {
    width: 100vw; 
    height: 150vh; 
    position: relative;
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .processContent {
        width: 40vw;
        p {
            font-size: clamp(15px, 1.5vw, 25px);    
        }
    }
}

.headlineProcess {
    padding: 2vw;
    top: 5vw !important;
    position: sticky;
    font-size: clamp(15px, 1.5vw, 25px);
    background-color: white;
    z-index: 100;
}


@media (max-width: 767px) {
    .processContainer {
        .processContent {
            width: 99vw;
        }
    }
    .headlineProcess {
        top: 7vw !important;
    }
}

