.slideShowContainer {
    width: 100vw; 
    height: 100vh;
    position: relative;
    .arrowContainer {
        position: absolute;
        bottom: 4vw; 
        width: 100vw;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            font-size: 2vw;
            margin: 0;
        }
    }
    img {
        width: 100vw; 
        height: 100vh; 
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .overlay {
        width: 100vw;
        height: 100vh; 
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
    }
    .fade {
        animation-duration: 6s;
        animation-name: fade;
        animation-iteration-count: infinite;
    }
    @keyframes fade {
        0% { opacity: 0;}
        25% { opacity: 1;}
        50% { opacity: 1;}
        75% { opacity: 0;}
        100% { opacity: 0;}
    }
}