.startContainer {
  background-color: red;
  width: 100vw;
  height: 100vh;
  margin-top: 500px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.prozessContainer {
  background-color: whie;
  width: 100vw;
  height: 100vh;
}


